In [1]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://mongodb:mongodb@clusterfirst.hf5w1.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
print(db)

Database(MongoClient(host=['clusterfirst-shard-00-01.hf5w1.mongodb.net:27017', 'clusterfirst-shard-00-00.hf5w1.mongodb.net:27017', 'clusterfirst-shard-00-02.hf5w1.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-swx09v-shard-0', tls=True), 'test')

In [2]:
db = client.MyFirstMongoDB

In [3]:
coll=db["Carbon_Nanotubes"]

In [34]:
import pandas as pd
data = pd.read_csv('SampleCSVFile_11kb.csv', engine='python')
data.head()

   a  1 add  4
0  a  1   a  2
1  a  1   a  4
2  a  1   a  1
3  a  1   a  2
4  a  1   a  2

In [37]:
x = data.iloc[:,:].values

In [41]:
x[0]

array(['a', 1, 'a', 2], dtype=object)

In [43]:
listData=[]
for i in x:
    print(i)
    d={
        "f1":i[0],
        "f2":i[1],
        "f3":i[2],
        "f4":i[3]
    }
    listData.append(d)

['a' 1 'a' 2]
['a' 1 'a' 4]
['a' 1 'a' 1]
['a' 1 'a' 2]
['a' 1 'a' 2]

In [44]:
listData

[{'f1': 'a', 'f2': 1, 'f3': 'a', 'f4': 2},
 {'f1': 'a', 'f2': 1, 'f3': 'a', 'f4': 4},
 {'f1': 'a', 'f2': 1, 'f3': 'a', 'f4': 1},
 {'f1': 'a', 'f2': 1, 'f3': 'a', 'f4': 2},
 {'f1': 'a', 'f2': 1, 'f3': 'a', 'f4': 2}]

In [45]:
coll.insert_many(listData)

In [47]:
for i in coll.find():
    print(i)

{'_id': ObjectId('622b4183f2ed256e94ee70b3'), 'f1': 'a', 'f2': 1, 'f3': 'a', 'f4': 2}
{'_id': ObjectId('622b4183f2ed256e94ee70b4'), 'f1': 'a', 'f2': 1, 'f3': 'a', 'f4': 4}
{'_id': ObjectId('622b4183f2ed256e94ee70b5'), 'f1': 'a', 'f2': 1, 'f3': 'a', 'f4': 1}
{'_id': ObjectId('622b4183f2ed256e94ee70b6'), 'f1': 'a', 'f2': 1, 'f3': 'a', 'f4': 2}
{'_id': ObjectId('622b4183f2ed256e94ee70b7'), 'f1': 'a', 'f2': 1, 'f3': 'a', 'f4': 2}